<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859264778633-2iril7iqt1hgfbqm0i6fajotirf41ct0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859264778633-2iril7iqt1hgfbqm0i6fajotirf41ct0</string>
	<key>API_KEY</key>
	<string>AIzaSyBKrDrgMxnzIHtWrUxHWCkkcofWfTl8UMc</string>
	<key>GCM_SENDER_ID</key>
	<string>859264778633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>task-1d09a</string>
	<key>STORAGE_BUCKET</key>
	<string>task-1d09a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859264778633:ios:a70ff510c24e880d83e158</string>
</dict>
</plist>